<div class="container">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1>Lancamentos</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Descricao</label>
          <input pInputText type="text">
        </div>

        <div class="ui-g-12">
          <label style="display: block">vencimento</label>
          <input pInputText type="text" style="width: 95px">

          <label>até</label>
          <input pInputText type="text" style="width: 95px">
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>

      </div>

    <!--  <div class="ui-g">
        <div class="ui-g-12">
          <p-table [lancamento]="lancamentos" [value]="lancamentos">
            <ng-template pTemplate="body">
                <tr *ngFor="let lancamentos of lancamento">
                    <td>{{lancamentos.body}}</td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </div>-->
        <div class="ui-g">
          <div class="ui-g-12">
            <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
          </div>

        </div>
        <div class ="ui-g-12">
          <a pButton label ="Novo Lancamento"></a>
        </div>

      </div>


