<div class="container">
  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lancamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimentos</label>
        <p-calendar dateFormat="dd/mm/yy"
        [inline]="false"
        [readonlyInput]="false"
        [showIcon]="false"
        name="vencimento"
           ngModel #vencimento="ngModel" required minlength="5"></p-calendar>

        <app-message [control]="vencimento" error="required"
        text="Informe uma vencimento"></app-message>
        <app-message [control]="vencimento" error="minlength"
        text="Mínimo de {{ vencimento.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ vencimento.errors?.minlength?.actualLength }}"></app-message>

      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
          <p-calendar dateFormat="dd/mm/yy" ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Descricao</label>
          <input pInputText type="text" name="descricao"
           ngModel #descricao="ngModel" required minlength="5">
          <!--validacao do formulario-->

          <!--Criou  o componente MESSAGE-->
          <app-message [control]="descricao" error="required"
          text="Informe uma descricao"></app-message>
          <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}"></app-message>

      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Valor</label>
          <input pInputText type="text" placeholder="0,00" name="valor" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          ngModel #valor="ngModel" required minlength="5">

          <app-message [control]="valor" error="required"
          text="Informe uma valor"></app-message>
          <app-message [control]="valor" error="minlength"
          text="Mínimo de {{ valor.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ valor.errors?.minlength?.actualLength }}"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Categoria {{ categoria.value }}</label>
          <p-dropdown [options]="categorias" placeholder="Selecione"
           #categoria name="categoria"
           ngModel #categoria="ngModel" required minlength="5"></p-dropdown>

          <app-message [control]="categoria" error="required"
          text="Informe uma categoria"></app-message>
          <app-message [control]="categoria" error="minlength"
          text="Mínimo de {{ categoria.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ categoria.errors?.minlength?.actualLength }}"></app-message>
        </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Pessoa {{pessoa.value}} </label>
          <p-dropdown [options]="pessoas" placeholder="Selecione"
           [autoWidth]="false" [filter]="true" #pessoa
           #pessoa name="pessoa"
           ngModel #pessoa="ngModel" required minlength="5"></p-dropdown>

           <app-message [control]="pessoa" error="required"
           text="Informe uma pessoa"></app-message>
           <app-message [control]="pessoa" error="minlength"
           text="Mínimo de {{ pessoa.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ pessoa.errors?.minlength?.actualLength }}"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Observacao</label>
          <textarea pInputTextarea rows="3"></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!usuarioForm.valid"></button>
        <button pButton type="Button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
